@model GerenciadorConsultasMedicas.Models.Medicos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titularidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titularidade)
        </dd>

        <dt>
            Especialidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidades.Nome)
        </dd>

        <dt>
           Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoas.Nome) @Html.DisplayFor(model => model.Pessoas.Sobrenome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


